body{
	font-family: Tahoma;
  text-align: left; 
}

#header {
	position: relative;
	background-image: url();
	background-repeat: no-repeat;
	margin-right: auto;
	margin-left: auto;
	width: 550px;
	border: 2px solid #265180;

}
#content {
	margin-left: 15px;
	padding: 9px 10px 0 0;
}
#content p {
	font-size: 75%;
	line-height: 1.8em;
	padding-left: 2em;
}
#menu {
	position: absolute;
	top: 179px;
	left: 0px;
	width: 10px;
	height: 82px;
}
#menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
	border: none;
}
#menu li {
	width: 158px;
	border-bottom: 1px solid #969BA5;
	margin: 0;
	padding: 0;
	font-size: 80%;
	vertical-align: bottom; 
}
#menu a:link, #menu a:visited {
	display: block;
	padding: 5px 5px 5px 0.5em;
	border-left: 10px solid #265180;
	border-right: 1px solid #265180;
	background-color: #CAD6EC;
	color: #265180;
	text-decoration: none;
}
#menu a:hover {
	background-color: #265180;
	color: #FFFFFF
}

a:link,a:visited {
  color:#265180;
}
a:hover {
	color: #FF6600;
	text-decoration:none;
}
h2 {
	font: normal 120% Georgia;
	color: #265180;
	background-color: transparent;
	border-bottom: 1px dotted #265180;

}
h3 {
	font: normal 150% Tahoma;
	color: #265180;
	background-color: transparent;
	border-bottom: 0px dotted #265180;
}
table {
	font-family: Tahoma; 
	font-size: 10pt;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	border-collapse: collapse;
	margin: 10px 0px;
}
th{
	color: #FFFFFF;
	font-size: 10pt;
	text-transform: uppercase;
	text-align: center;
	padding: 0.5em;
	border-width: 1px;
	border-style: solid;
	border-color: #969BA5;
	border-collapse: collapse;
	background-color: #265180;
}
tn{
	color: #FFFFFF;
	font-size: 10pt;
	text-transform: uppercase;
	text-align: center;
	padding: 0.5em;
	border-width: 0px;
	border-style: solid;
	border-color: #969BA5;
	border-collapse: collapse;
	background-color: #265180;

}
td{
	padding: 0.5em;
	vertical-align: top;
	border-width: 1px;
	border-style: solid;
	border-color: #969BA5;
	border-collapse: collapse;
}
input,textarea,select{
	font-family: Tahoma; 
	font-size: 8pt;
}
#paging{
	font-family: Tahoma; 
	font-size: 8pt; 
}
#footer{
	padding: 5px 0 10px 255px;
	font-style: italic;
	font-size: 70%;
	color: #FFFFFF;
	background-color: green;
	width:297px ;
}
#foot{
	border-top:medium;
	background-color: green;
	font-size:70%;
	color: #FFFFFF;
	padding: 5px 0 10px 255px;
	width:330px ;
	position: relative;
}
